<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Xcode Dashboard</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body class="">
    <%-include("header.ejs")%>
    <div class="min-h-screen min-w-full bg-[#616973] px-10 flex ">
      <%-include("sideBar") %>
      <div class="mt-28 ml-10">
        <button
          onclick="showVoucherAddPopUp()"
          class="bg-[#D9D9D9] flex items-center p-2 rounded-md space-x-2 font-semibold hover:bg-[#EBEEE2]"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-6"
          >
            <path
              fill-rule="evenodd"
              d="M12 3.75a.75.75 0 0 1 .75.75v6.75h6.75a.75.75 0 0 1 0 1.5h-6.75v6.75a.75.75 0 0 1-1.5 0v-6.75H4.5a.75.75 0 0 1 0-1.5h6.75V4.5a.75.75 0 0 1 .75-.75Z"
              clip-rule="evenodd"
            />
          </svg>
          <span>New Voucher</span>
        </button>
        <!--Card container -->
        <div id="" class="mt-5 grid grid-cols-3 gap-x-3 gap-y-6">
          <% vouchers.forEach(voucher => { %>

            <div class="card min-w-80 shadow-[0_4px_4px_rgba(0,0,0,0.25)]">
              <div class="top bg-[#EBEEE2] flex space-x-4 p-4 rounded-t-lg">
                <div class="top-left">
                  <img
                    class="size-28 object-fit"
                    src="/assets/qrcodes/<%= voucher.qr_code_path %>" alt="QR Code""
                  />
                </div>
                <div class="top-right w-56">
                  <h1 class="text-xl uppercase font-semibold font-mono">
                    <%= voucher.title %>
                  </h1>
                  <p class="text-sm text-[#666666]"><%= voucher.code %></p>
                  <div class="h-[.4px] bg-black mt-4"></div>
                  <div
                    class="flex justify-between text-xs mt-6 font-light text-[#42443A]"
                  >
                    <p>from : <%= voucher.generated_date %></p>
                    <p>Upto:  <%= voucher.expiry_date %></p>
                  </div>
                </div>
              </div>
              <div class="bottom">
                <div class="flex justify-between items-center px-4 py-2 bg-[#D9D9D9] rounded-b-lg">
                  <div
                    class="bg-[#D9D9D9] font-semibold px-3 text-xs rounded-full py-2 shadow-[0_4px_4px_rgba(0,0,0,0.25)]"
                  >
                    <p><%= voucher.offer_percentage %>% OFF</p>
                  </div>
  
  
                  <div class="flex -space-x-6  ">
  
  
                    <button  data-code="<%= voucher.code %>" class="export-pdf-btn flex items-center h-7 cursor-pointer  group   ">
                      <div class="size-7 z-50 group-hover:scale-110 flex justify-center items-center rounded-full shadow-[0_4px_4px_rgba(0,0,0,0.25)] group-hover:bg-[#FCFFF3] bg-[#EBEEE2] ">
                        <img src="/assets/exportPdf.svg" alt="" />
                      </div>
                      <div class="bg-[#EBEEE2] group-hover:bg-[#FCFFF3] h-full -translate-x-3 px-4 flex justify-center items-center text-xs font-semibold">
                        <p>PDF</p>
                      </div>
                    </button>
  
                    <button data-code="<%= voucher.code %>" class="print-btn flex items-center h-7 cursor-pointer group  ">
                      <div class="bg-[#3C4052] group-hover:bg-[#242734] h-full translate-x-3 px-3 flex justify-center items-center text-white text-xs font-semibold">
                        <p>PRINT</p>
                      </div>
                      <div class="size-7 group-hover:scale-110 z-50 flex justify-center items-center rounded-full shadow-[0_4px_4px_rgba(0,0,0,0.25)] bg-[#3C4052] group-hover:bg-[#242734] ">
                        <img src="/assets/Print.svg" alt="" />
                      </div>
                      
                    </button>
                  </div>
                  </div>
                </div>
            </div>
          <% }) %>
          </div>
        </div>
      </div>
    </div>
    <%-include("voucherUploadPopup") %>
    <script src="/javascript/dashboardManage.js"></script>
  </body>
</html>
